.sidebar {
  top: 0;
  left: 0;
  padding: 10px;
  background-color: white;
  color: black;
  width: 60px; /* Default width when collapsed */
  transition: width 0.3s ease;
  overflow: hidden; /* Prevent overflow outside */
  z-index: 1000;
}

.sidebar.open {
  width: 300px;
}

.sidebar.closed {
  width: 120px;
}
.sidebar ul::-webkit-scrollbar {
  width: 8px; /* Width of the scrollbar */
}
.sidebar ul::-webkit-scrollbar-thumb {
  background: #888; /* Color of the scrollbar thumb */
  border-radius: 10px; /* Round edges of the scrollbar */
}
.sidebar ul::-webkit-scrollbar-thumb:hover {
  background: #555; /* Darker color on hover */
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
  margin-top: 100px; /* Margin to accommodate the toggle button */
  height: calc(100vh - 100px); /* Adjust height to fit within the sidebar */
  overflow-y: auto; /* Enable vertical scrolling */
}

.sidebar ul li {
  margin-bottom: 5px;
}

.sidebar ul li a {
  display: flex;
  align-items: center;
  color: grey;
  text-decoration: none;
  font-size: 18px;
  transition: 0.3s ease-in-out;
  margin: 20px 20px;
}

.sidebar ul li a:hover {
  background-color: black;
  color: white;
  padding: 10px;
  border-radius: 50px;
  transition: 0.3s ease;
}

.icon {
  margin-right: 10px;
  font-size: 20px;
  background-color: white;
  padding: 10px;
  border-radius: 25px;
}

.toggle-btn {
  cursor: pointer;
  color: grey;
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  position: absolute; /* Position absolute to the sidebar */
  top: 20px; /* Adjust position */
  left: 25px; /* Keep it outside the sidebar */
  z-index: 1001; /* Higher than sidebar for visibility */
  transition: 0.3s ease-in-out;
}

.toggle-btn:hover {
  color: black;
}

.sidebar.closed .icon {
  margin-right: 0;
}

.sidebar.closed ul li a span {
  display: none;
}

/* Active link style */
.sidebar ul li .active {
  background-color: black;
  color: white;
  padding: 10px;
  border-radius: 50px;
  transition: 0.3s ease;
}
