/* Alacarte.css */

.alacarte-container {
  display: flex;
  margin-top: 50px;
  gap: 50px;
  width: 80vw;
  margin: 50px auto;
}

/* General Dining Section */
.general-section,
.family-section {
  padding: 20px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  margin: 60px 0;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.table-container {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  flex: 1;
  flex-wrap: wrap;
}

.table {
  width: 90px;
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  position: relative; /* Ensure the badge is positioned relative to this box */
  cursor: pointer;
  transition: 0.2s ease;
}
.table:hover {
  transform: translateY(-5px);
}

.table-header {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 10px;
}

.alacarte-notification-badge {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 20px;
  height: 20px;
  background-color: red;
  color: white;
  font-size: 14px;
  font-weight: bold;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  background: white;
  padding: 20px;
  border-radius: 8px;
  max-width: 500px;
  width: 100%;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.close-btn {
  background-color: transparent;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

.modal-content {
  margin-top: 20px;
}

.order-items {
  list-style-type: none;
  padding-left: 0;
}

.order-items li {
  margin-bottom: 5px;
}

.order-ready-btn {
  padding: 10px;
  background-color: transparent;
  color: black;
  border: 1px solid;
  transition: 0.3s ease;
}

.close-btn {
  background-color: red;
  width: 15px;
  height: 15px;
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  border-radius: 50%; /* Makes the button fully round */
  cursor: pointer;
  transition: transform 0.3s ease; /* Smooth transition for the hover effect */
}

.close-btn:hover {
  transform: rotate(180deg); /* Rotate the button 360 degrees on hover */
}
.order-ready-btn:hover {
  padding: 10px;
  background-color: black;
  color: white;
  border: 1px solid;
  cursor: pointer;
}
