/* src/styles/Dashboard.css */

.dashboard-container {
  padding: 20px;
  margin-top: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pie-chart-section {
  margin-top: 20px;
  margin-right: 25px;
  padding: 25px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  width: fit-content; /* Makes it responsive */
  max-width: 300px; /* Sets a maximum width */
  border-radius: 25px;
  justify-content: center;
  display: flex; /* Enables flexbox layout */
  flex-direction: column; /* Stacks items vertically */
  align-items: center; /* Centers the content */
}
.bar-chart-section {
  margin-top: 20px;
  width: 100%; /* Makes it responsive */
  max-width: 600px; /* Sets a maximum width */
  display: flex; /* Enables flexbox layout */
  flex-direction: column; /* Stacks items vertically */
  align-items: center; /* Centers the content */
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 25px;
  border-radius: 25px;
}

.pie-chart-container,
.bar-chart-container {
  width: 100%; /* Makes charts responsive */
  height: 250px; /* Sets a fixed height for charts */
  border-radius: 8px; /* Rounded corners */
  display: flex; /* Flex for layout */
  justify-content: center; /* Centers the chart */
  align-items: center; /* Centers the chart */
}

.orders-today-button {
  margin-top: 25px; /* Adds space above the button */
  padding: 10px 20px; /* Adds padding */
  background-color: #4caf50; /* Green background */
  color: white; /* White text color */
  border: none; /* No border */
  border-radius: 4px; /* Rounded corners */
  cursor: pointer; /* Pointer cursor */
  transition: background-color 0.3s; /* Smooth transition */
}

.orders-today-button:hover {
  background-color: #45a049; /* Darker green on hover */
}

.time-range-select {
  margin-bottom: 10px; /* Adds space below the select */
}

.time-range-select label {
  margin-right: 10px; /* Space between label and dropdown */
}

.time-range-select select {
  padding: 5px; /* Adds padding */
  border: 1px solid #ccc; /* Light border */
  border-radius: 4px; /* Rounded corners */
  margin-top: 25px; /* Adds space above the button */
  cursor: pointer; /* Pointer cursor */
}

@media (max-width: 600px) {
  .dashboard-container {
    padding: 20px;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .pie-chart-section,
  .bar-chart-section {
    flex-direction: column; /* Stack vertically on small screens */
  }

  .pie-chart-container,
  .bar-chart-container {
    height: 200px; /* Adjust height on small screens */
  }
}
