/* src/styles/TopNav.css */

.nav-container {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  padding: 25px;
  background-color: #f0f0f0; /* Background color for the nav */
  width: 100%; /* Make the nav bar full width */
  position: fixed; /* Fix the nav bar at the top */
  top: 0; /* Align to the top */
  left: 0; /* Align to the left */
  z-index: 1000; /* Ensure it appears above other content */
}

.nav-heading {
  font-size: 24px; /* Font size for the heading */
  margin: 10px; /* Space around the heading */
  text-decoration: none;
  color: black;
}

.nav-item {
  margin: 5px 10px; /* Space between nav items */
  text-decoration: none; /* Remove underline from links */
  color: #333; /* Text color */
  padding: 10px 15px; /* Add some padding for better appearance */
  position: relative; /* Ensure that the badge can be positioned absolutely */
}

.nav-item:hover {
  color: black; /* Change color on hover */
}

/* Active state styles */
.nav-item.active {
  background-color: black; /* Background color for the active state */
  color: white; /* Text color for the active link */
  border-radius: 25px;
}

.notification-badge {
  position: absolute; /* Absolute positioning */
  top: -5px; /* Positioning above the nav item */
  right: 0px; /* Positioning to the right */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 14px;
  height: 14px;
  background-color: #ff3d00; /* Badge color */
  color: white; /* Badge text color */
  border-radius: 50%; /* Makes it circular */
  padding: 4px; /* Padding inside the badge */
  font-size: 12px; /* Badge font size */
  font-weight: bold; /* Makes text bold */
}
